{% extends '_base.html' %}
{% block subtitle %}{{ manufacturer.name|d('所有产品') }} | 以旧换新{% endblock %}
{% block page_content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <ol class="breadcrumb">
                            <li><a href="{{ url_for('home.show_recycle_manufacturers') }}">以旧换新</a></li>
                            <li class="active">{{ manufacturer.name|d('所有产品') }}</li>
                        </ol>
                        <hr />
                    </div>
                </div>

                {% for product in products %}
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="thumbnail">
                        <a href="">
                            <img alt="{{ product.model }}" src="{{ product.photo_url }}" />
                        </a>
                        <div class="caption">
                            <h4>{{ product.model }}</h4>
                            <p>
                                <!-- 描述 -->
                            </p>
                            <p>
                                <span class="label label-danger">会员价：{{ product.price.exchange_price|int }} 元！</span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
{% endblock %}
