{% extends '_base.html' %}
{% block subtitle %}{{ product.model }} | 以旧换新{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-labelauty.css') }}">
    <style>
        /*
        input.labelauty + label > span.labelauty-unchecked-image,
        input.labelauty + label > span.labelauty-checked-image
        {
            width: 16px;
            height: 30px;
        }

        input.labelauty + label > span.labelauty-unchecked,
        input.labelauty + label > span.labelauty-checked
        {
            line-height: 30px;
        }
        input.labelauty + label {
            font-size: 16px;
        }
        */
        input.labelauty + label {
            width: 100%;
            text-align: center;
        }

        input.labelauty:checked + label
        {
            background-color: #339933;
            color: #ffffff;
        }

        input.labelauty:checked:not([disabled]) + label:hover
        {
            background-color: #22BB22;
        }
        /*
        .control-label {
            font-size: 16px;
            line-height: 30px;
        }
        */
    </style>
{% endblock %}
{% block page_content %}
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="{{ url_for('home.show_exchange_manufacturers') }}">以旧换新</a></li>
                        <li><a href="{{ url_for('home.show_exchange_products', manufacturer_id=product.manufacturer.id) }}">{{ product.manufacturer.name }}</a></li>
                        <li class="active">{{ product.model }}</li>
                    </ol>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <img class="img-responsive" alt="" src="{{ product.photo_url }}">
                        <div>
                            <h4>{{ product.model }}{% if product.price.brief_intro %} <br><small>（{{ product.price.brief_intro }}）</small>{% endif %}</h4>
                            <h3 class="text-right text-danger"><strong>换购价：<span id="exchange-price-span">{{ product.price.exchange_price|int }}</span></strong></h3>
                            <h4 class="text-right text-danger">会员价：<span id="member-price-span">{{ product.price.member_price|int }}</span></h4>
                            <hr>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <form class="form-horizontal">
                            {% for question in product.exchange_questions %}
                            <div class="form-group">
                                <div class="row" style="border-bottom: 1px #ddd dashed;">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">{{ question.content }}</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        {% for answer in question.answers %}
                                        <div class="col-md-3 col-sm-6 col-xs-6">
                                            <input class="answer-input" type="radio" name="question-{{ question.id }}" id="answer-{{ answer.id }}" value="{{ answer.id }}" autocomplete="off"{% if not loop.index0 %} checked{% endif %} data-labelauty="{{ answer.content }}{% if answer.remark %}&nbsp;<small>（{{ answer.remark }}）</small>{% endif %}" answer-content="{{ answer.content }}">
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <hr>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-sm-offset-3 col-md-10 col-sm-9 col-xs-12">
                                    <button type="button" class="btn btn-primary pull-left" id="evaluate-btn">立即换购</button>
                                    {% if current_user.is_authenticated() %}
                                    <a href="{{ url_for('admin.edit_exchange', product_id=product.id) }}" class="btn btn-warning pull-right">设置</a>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="show_evaluation_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="evaluation_report">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="evaluation_report">报价单</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid" id="evaluation_result">
                                    <p></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">下一步</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
{% endblock %}
{% block page_scripts %}
<script src="{{ url_for('static', filename='jquery-labelauty.js') }}"></script>
<script>
    $(document).ready(function(){
        $(".answer-input").labelauty();

        $("#evaluate-btn").click(function () {
            var answers = [];
            $("#evaluation_result p").empty();
            $("#evaluation_result p").append("品牌：{{ product.manufacturer.name }}<br>型号：{{ product.model }}<br>");
            $("input.answer-input:checked").each(function () {
                answers.push($(this).val());
                var question_content = $(this).parent().parent().prev("label").text();
                var answer_content = $(this).attr("answer-content");
                $("#evaluation_result p").append(question_content+"："+answer_content+"<br>");
            });
            console.log(answers);

            var data = JSON.stringify({'answers': answers});
            $.ajax({
                url: "{{ url_for('api.quote', product_id=product.id) }}",
                type: "POST",
                data: data,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    // alert("success");
                    $("#evaluation_result p").append("<h4 class=\"text-danger\">换购价："+data["exchange_price"]+"元</h4>");
                    $("#evaluation_result p").append("<h5 class=\"text-danger\">会员价："+data["member_price"]+"元</h5>");
                    $('#show_evaluation_modal').modal();
                }
            });
        });

        $(".answer-input").change(function () {
            var answers = [];
            $("input.answer-input:checked").each(function () {
                answers.push($(this).val());
            });
            console.log(answers);

            var data = JSON.stringify({'answers': answers});
            $.ajax({
                url: "{{ url_for('api.quote', product_id=product.id) }}",
                type: "POST",
                data: data,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    // alert("success");
                    $("#exchange-price-span").text(data['exchange_price']);
                    $("#member-price-span").text(data['member_price']);
                }
            });
        });

    });
</script>
{% endblock %}
