            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <p class="text-center"><small>关于我们 · 联系我们 · 免责声明 · 帮助中心 · 移动应用</small></p>
                    <p class="text-center">
                        <small>&copy;2015 ehuigo.cn 版权所有</small>
                    </p>
                    <p class="text-center">
                        <small>西安龙玺网络科技有限公司 <a href="http://www.miitbeian.gov.cn/" target="_blank">陕ICP备15014467号</a></small>
                    </p>
                </div>
            </div>
