{% extends '_base.html' %}
{% block subtitle %}以旧换新设置{% endblock %}
{% block page_content %}
            <div class="row">

                {% set sider_active = 'manufacturers' %}
                {% include 'admin/_sider.html' %}

                <div class="col-md-9 col-sm-9">
                    <div class="row">
                        <ol class="breadcrumb">
                            <li><a href="{{ url_for('admin.show_manufacturers') }}">所有品牌</a></li>
                            <li><a href="{{ url_for('admin.show_products', manufacturer_id=product.manufacturer.id) }}">{{ product.manufacturer.name }}</a></li>
                            <li class="active">{{ product.model }}</li>
                        </ol>
                        <hr />
                    </div>

                    <div class="col-md-8">

                        {% include '_flash.html' %} 
                        
                        <form class="form-horizontal" action="{{ url_for('admin.edit_exchange', product_id=product.id) }}" method="post" id="exchange-price-form">
                            <div class="form-group">
                                <label for="exchange-price" class="col-sm-3 control-label">以旧换新价格</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-addon">￥</div>
                                        <input type="text" name="exchange-price" class="form-control" id="exchange-price" value="{{ product.price.exchange_price|int }}">
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                        <hr />
                        <button class="btn btn-success pull-left" id="save-exchange-price">保存</button>
                        <a class="btn btn-default pull-right" href="{{ url_for('admin.show_products', manufacturer_id=product.manufacturer.id) }}">取消</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4">
                        
                    </div>

                </div>
            </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $("#save-exchange-price").click(function () {
            // alert("submit");
            $("#exchange-price-form").submit();
        });
    });
</script>
{% endblock %}
