{% extends '_base.html' %}
{% block title %}产品管理{% endblock %}
{% block content %}
            <div class="row">

                {% set sider_active = 'manufacturers' %}
                {% include 'admin/_sider.html' %}

                <div class="col-md-9 col-sm-9">
                    <div class="row">
                        <ol class="breadcrumb">
                            <li><a href="{{ url_for('admin.show_manufacturers') }}">所有品牌</a></li>
                            <li class="active">{{ manufacturer.name }}</li>
                        </ol>
                        <hr />
                    </div>
                    <div class="row">
                        {% for product in products %}
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="thumbnail">
                                <a href="{{ url_for('admin.edit_evaluation', product_id=product.id) }}">
                                    <img alt="{{ product.model }}" src="{{ url_for('home.send_upload_file', filename=product.photo) if product.photo and not product.photo.startswith('/') else product.photo|d('') }}" />
                                </a>
                                <div class="caption">
                                    <h4>{{ product.model }} {{ product.version }}</h4>
                                </div>
                                <a class="btn btn-xs btn-danger pull-right" href="{{ url_for('admin.delete_product', product_id=product.id) }}" onclick="return confirm('删除将不可恢复。确定删除吗？');">删除</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#add-product">
                                <span class="glyphicon glyphicon-plus" aria-label="add-answer-label"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="add-product" tabindex="-1" role="dialog" aria-labelledby="add-product-label">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="add-product-label">添加产品</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post" action="{{ url_for('admin.add_product') }}" id="add-product-form" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="product-manufacturer" class="col-sm-2 control-label">产品品牌</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="product-manufacturer" id="product-manufacturer" onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;">
                                            <option value="{{ manufacturer.id }}" selected="selected">{{ manufacturer.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product-model" class="col-sm-2 control-label">产品型号</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="product-model" class="form-control" id="product-model">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product-price" class="col-sm-2 control-label">基准价格</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon">￥</div>
                                            <input type="text" name="product-price" class="form-control" id="product-price">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product-photo" class="col-sm-2 control-label">产品图片</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="product-photo" class="form-control" id="product-photo">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="add-product-submit-btn">保存</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $("#add-product-submit-btn").click(function () {
            $("#add-product-form").submit();
        });
    });
</script>
{% endblock %}
