{% extends '_base.html' %}
{% block title %}产品修改{% endblock %}
{% block content %}
            <div class="row">

                {% set sider_active = 'manufacturers' %}
                {% include 'admin/_sider.html' %}

                <div class="col-md-9 col-sm-9">
                    <div class="row">
                        <ol class="breadcrumb">
                            <li><a href="{{ url_for('admin.show_manufacturers') }}">所有品牌</a></li>
                            <li><a href="{{ url_for('admin.show_products', manufacturer_id=product.manufacturer.id) }}">{{ product.manufacturer.name }}</a></li>
                            <li class="active">{{ product.model }}</li>
                        </ol>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <form class="form-horizontal" method="post" action="{{ url_for('admin.edit_product', product_id=product.id) }}" id="edit-product-form" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="product-manufacturer" class="col-sm-2 control-label">产品品牌</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="product-manufacturer" id="product-manufacturer" onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;">
                                            <option value="{{ product.manufacturer.id }}" selected="selected">{{ product.manufacturer.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product-model" class="col-sm-2 control-label">产品型号</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="product-model" class="form-control" id="product-model" value="{{ product.model }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product-photo" class="col-sm-2 control-label">产品图片</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="product-photo" class="form-control" id="product-photo">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success pull-left" id="add-product-submit-btn">保存</button>
                                <a href="{{ url_for('admin.show_products', manufacturer_id=product.manufacturer.id) }}" class="btn btn-default pull-right">取消</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $("#add-product-submit-btn").click(function () {
            $("#add-product-form").submit();
        });

        $(".for-recycle-checkbox").change(function (){
            var product_id = $(this).attr("product-id");
            var action = $(this).prop("checked") ? "set": "unset";
            // alert(action);
            $.get("/admin/product/"+product_id+"/recycle/"+action+"/", function (){
                // alert("success");
            });
        });
        $(".for-exchange-checkbox").change(function (){
            var product_id = $(this).attr("product-id");
            var action = $(this).prop("checked") ? "set": "unset";
            // alert(action);
            $.get("/admin/product/"+product_id+"/exchange/"+action+"/", function (){
                // alert("success");
            });
        });
    });
</script>
{% endblock %}
