{% extends '_base.html' %}
{% block subtitle %}产品修改{% endblock %}
{% block page_content %}
            <div class="row">

                {% set sider_active = 'manufacturers' %}
                {% include 'admin/_sider.html' %}

                <div class="col-md-9 col-sm-9">
                    <div class="row">
                        <ol class="breadcrumb">
                            <li><a href="{{ url_for('admin.show_manufacturers') }}">所有品牌</a></li>
                            <li><a href="{{ url_for('admin.show_products', manufacturer_id=product.manufacturer.id) }}">{{ product.manufacturer.name }}</a></li>
                            <li class="active">{{ product.model }}</li>
                        </ol>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            {% include '_flash.html' %}
                            <form class="form-horizontal" method="post" action="{{ url_for('admin.edit_product', product_id=product.id) }}" id="edit-product-form" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="product-manufacturer" class="col-sm-2 control-label">产品品牌</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="product-manufacturer" id="product-manufacturer" onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;">
                                            <option value="{{ product.manufacturer.id }}" selected="selected">{{ product.manufacturer.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product-model" class="col-sm-2 control-label">产品型号</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="product-model" class="form-control" id="product-model" value="{{ product.model }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="product-photo" class="col-sm-2 control-label">产品图片</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="product-photo" class="form-control" id="product-photo">
                                        <p style="color: #f00;"><small>注：上传图片前请保证图片的宽高比为 4:3 （例如：320 * 240）。</small></p>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success pull-left" id="edit-product-submit-btn">保存</button>
                                <a href="{{ url_for('admin.show_products', manufacturer_id=product.manufacturer.id) }}" class="btn btn-default pull-right">取消</a>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <img class="img-responsive" alt="{{ product.model }}" src="{{ product.photo_url }}" />
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $("#edit-product-submit-btn").click(function () {
            $("#edit-product-form").submit();
        });
    });
</script>
{% endblock %}
