{% extends '_base.html' %}
{% block subtitle %}问题管理 | 旧机回收{% endblock %}
{% block page_content %}
            <div class="row">

                {% set sider_active = 'questions' %}
                {% include 'admin/_sider.html' %}

                <div class="col-md-9 col-sm-9">
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li role="presentation"{% if category == 'recycle' %} class="active"{% endif %}><a href="{{ url_for('admin.show_questions', category='recycle') }}">旧机回收</a></li>
                            <li role="presentation"{% if category == 'exchange' %} class="active"{% endif %}><a href="{{ url_for('admin.show_questions', category='exchange') }}">以旧换新</a></li>
                        </ul>
                        <hr>
                    </div>
                    <div class="row">
                        {% include '_flash.html' %}
                        <div class="panel-group" id="questions" role="tablist" aria-multiselectable="true">
                            {% for question in questions %}
                            <div class="panel panel-default" question-id="{{ question.id }}">
                                <div class="panel-heading" role="tab" id="question-{{ question.id }}-heading">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#questions" href="#question-{{ question.id }}-collapse" aria-expanded="false" aria-controls="question-{{ question.id }}-collapse">
                                            {{ question.content }}
                                        </a>
                                        {% if question.remark %}<small>{{ question.remark }}</small>{% endif %}
                                    </h3>
                                </div>
                                <div id="question-{{ question.id }}-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question-{{ question.id }}-heading">
                                    <div class="panel-body">
                                        <div class="btn-group" role="group">
                                            {% for answer in question.answers %}
                                            <button type="button" class="btn btn-default">
                                                {{ answer.content }}
                                                {% if answer.remark %}<small>（{{ answer.remark }}）</small>{% endif %}
                                            </button>
                                            {% endfor %}
                                        </div>
                                        <div class="text-right">
                                            <a id="edit-question-{{ question.id }}-btn" class="btn btn-success btn-xs">修改</a>
                                            <a href="{{ url_for('admin.delete_question', question_id=question.id) }}" class="btn btn-danger btn-xs" onclick="return confirm('删除将不可恢复。确定删除吗？');">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="question-4-heading">
                                    <h3 class="panel-title text-center">
                                        <a href="#" data-toggle="modal" data-target="#add-question" role="button" data-parent="#questions">
                                            <span class="glyphicon glyphicon-plus" aria-label="add-question-label"></span>
                                        </a>
                                    </h3>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="add-question" tabindex="-1" role="dialog" aria-labelledby="add-question-label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="add-question-label">添加问题</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" method="post" action="{{ url_for('admin.add_question') }}" id="add-question-form">
                                                <div class="form-group">
                                                    <label for="question-content" class="col-sm-2 control-label">问题</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="question-content" class="form-control" id="question-content">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="question-remark" class="col-sm-2 control-label">问题备注</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="question-remark" class="form-control" id="question-remark">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="answer-content" class="col-sm-2 control-label">选项</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" name="answer-content[]" class="form-control">
                                                    </div>
                                                    <label for="answer-remark" class="col-sm-2 control-label">选项备注</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" name="answer-remark[]" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="answer-content" class="col-sm-2 control-label">选项</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" name="answer-content[]" class="form-control">
                                                    </div>
                                                    <label for="answer-remark" class="col-sm-2 control-label">选项备注</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" name="answer-remark[]" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group text-center">
                                                    <button id="add-answer-btn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-label="add-answer-label"></span></button>
                                                </div>
                                                <input type="hidden" name="category" value="{{ category }}">
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="add-question-submit-btn" type="button" class="btn btn-primary">保存</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block page_scripts %}
<script>
    $(document).ready(function () {
        $("#add-answer-btn").on("click", function () {
            $(this).parent().before(
                '<div class="form-group dynamic-added">' +
                '   <label for="answer-content" class="col-sm-2 control-label">选项</label>' +
                '   <div class="col-sm-4">' +
                '       <input type="text" name="answer-content[]" class="form-control">' +
                '   </div>' +
                '   <label for="answer-remark" class="col-sm-2 control-label">选项备注</label>' +
                '   <div class="col-sm-4">' +
                '       <input type="text" name="answer-remark[]" class="form-control">' +
                '   </div>' +
                '</div>'
            );
        });

        $("#add-question-submit-btn").click(function () {
            $("#add-question-form").submit();
        });

        $("[id^='edit-question-']").click(function () {
            var question_id = $(this).parent().parent().parent().parent().attr("question-id");

            if (!$('#edit-question-'+question_id).length) {
                $.get("/api/question/"+question_id+"/", function(data) {
                    var question_content = data["content"];
                    var question_remark = data["remark"] == null ? "" : data["remark"];
                    var answers = data["answers"];

                    var answers_html = '';
                    for (i in answers) {
                        var answer_id = data["answers"][i]["id"];
                        var answer_content = data["answers"][i]["content"];
                        var answer_remark = data["answers"][i]["remark"] == null ? "" : data["answers"][i]["remark"];
                        answers_html += (
                            '                   <div class="form-group">'+
                            '                       <input type="hidden" name="answer-id[]" value="'+answer_id+'">'+
                            '                       <label for="answer-content" class="col-sm-2 control-label">选项</label>'+
                            '                       <div class="col-sm-4">'+
                            '                           <input type="text" name="answer-content[]" class="form-control" value="'+answer_content+'">'+
                            '                       </div>'+
                            '                       <label for="answer-remark" class="col-sm-2 control-label">选项备注</label>'+
                            '                       <div class="col-sm-4">'+
                            '                            <input type="text" name="answer-remark[]" class="form-control" value="'+answer_remark+'">'+
                            '                       </div>'+
                            '                   </div>'
                        );
                    }

                    var modal = 
                    '<div class="modal fade" id="edit-question-'+question_id+'" tabindex="-1" role="dialog" aria-labelledby="edit-question-label">'+
                    '   <div class="modal-dialog" role="document">'+
                    '       <div class="modal-content">'+
                    '           <div class="modal-header">'+
                    '               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
                    '               <h4 class="modal-title" id="edit-question-label">更新问题</h4>'+
                    '           </div>'+
                    '           <div class="modal-body">'+
                    '               <form class="form-horizontal" method="post" action="/admin/question/'+question_id+'/edit/" id="edit-question-form">'+
                    '                   <div class="form-group">'+
                    '                       <label for="question-content" class="col-sm-2 control-label">问题</label>'+
                    '                       <div class="col-sm-10">'+
                    '                           <input type="text" name="question-content" class="form-control" id="question-content" value="'+question_content+'">'+
                    '                       </div>'+
                    '                   </div>'+
                    '                   <div class="form-group">'+
                    '                       <label for="question-remark" class="col-sm-2 control-label">问题备注</label>'+
                    '                       <div class="col-sm-10">'+
                    '                           <input type="text" name="question-remark" class="form-control" id="question-remark" value="'+question_remark+'">'+
                    '                       </div>'+
                    '                   </div>'+
                    answers_html+
                    '                   <div class="form-group text-center">'+
                    '                       <button id="question-'+question_id+'-add-answer-btn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-label="add-answer-label"></span></button>'+
                    '                   </div>'+
                    '               </form>'+
                    '           </div>'+
                    '           <div class="modal-footer">'+
                    '               <button id="edit-question-submit-btn" type="button" class="btn btn-primary">保存</button>'+
                    '               <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>'+
                    '           </div>'+
                    '       </div>'+
                    '   </div>'+
                    '</div>';
                    $("#questions").append(modal);
                    $("#question-"+question_id+"-add-answer-btn").on("click", function () {
                        $(this).parent().before(
                            '<div class="form-group dynamic-added">' +
                            '   <input type="hidden" name="answer-id[]" value="">'+
                            '   <label for="answer-content" class="col-sm-2 control-label">选项</label>' +
                            '   <div class="col-sm-4">' +
                            '       <input type="text" name="answer-content[]" class="form-control">' +
                            '   </div>' +
                            '   <label for="answer-remark" class="col-sm-2 control-label">选项备注</label>' +
                            '   <div class="col-sm-4">' +
                            '       <input type="text" name="answer-remark[]" class="form-control">' +
                            '   </div>' +
                            '</div>'
                        );
                    });

                    $("#edit-question-submit-btn").click(function () {
                        $("#edit-question-form").submit();
                    });

                    $('#edit-question-'+question_id).modal();
                });
            } else {
                $('#edit-question-'+question_id).modal();
            }
        });
    });
</script>
{% endblock %}
