                <div class="col-md-3 col-sm-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li{% if sider_active == 'profile' %} class="active"{% endif %}>
                            <a href="{{ url_for('account.edit_profile', user_id=current_user.id) }}">基本资料</a>
                        </li>
                        {#
                        <li{% if sider_active == 'products' %} class="active"{% endif %}>
                            <a href="{{ url_for('admin.show_products') }}">产品管理</a>
                        </li>
                        #}

                        <li{% if sider_active == 'security' %} class="active"{% endif %}>
                            <a href="">账户安全</a>
                        </li>
                    </ul>
                    <hr />
                </div>
