{% extends '_base.html' %}
{% block subtitle %}登录{% endblock %}
{% block page_content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <ol class="breadcrumb">
                            <li class="active">登录</li>
                        </ol>
                        <hr />
                    </div>
                </div>
                <div class="col-md-12">
                    {% include '_flash.html' %}
                    <div class="col-md-offset-4 col-md-4">
                        <form class="form-horizontal" id="add-manufacturer-form" method="post" action="{{ url_for('account.login') }}">
                            <div class="form-group">
                                <label for="login-name" class="col-sm-3 control-label">用户</label>
                                <div class="col-sm-9">
                                    <input type="text" name="login-name" class="form-control" id="login-name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label">密码</label>
                                <div class="col-sm-9">
                                    <input type="password" name="password" class="form-control" id="password">
                                </div>
                            </div>
                            {#
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember-me"> 记住我
                                </label>
                            </div>
                            #}
                            <div class="col-md-offset-2">
                                <button type="submit" class="btn btn-default">登录</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}
